
@{
    string isim = "Meryem Nur";
    string soyisim = "Şikak";
    string bilgi = "Bilgiler";
    string baslik="HOŞGELDİNİZ";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOŞGELDİNİZ</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <br />
    @(isim+" "+soyisim)
    <br />
    @(bilgi)
    <br />
    <input type="text" value="" id="" maxlength="5" />
    <input type="text" value="" id="" />
    <input type="number" value="" id="" min="1" />
</body>
</html>
