
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kategori</title>
</head>
<body>
    <div>
        <h2>Merhaba</h2>
    </div>

    <div id="isim"></div> @*//id oluşturduk*@
    <div class="isim"></div>  <!--class oluşturduk-->

    <div>
        <ul>
            <li class="item1">1.Madde</li>
            <li class="item2">2.Madde</li>
            <li class="item3">3.Madde</li>
            <li class="item4">4.Madde</li>
            <li class="item5">5.Madde</li>
        </ul>

        <a href="https://google.com">Google</a>

        
    </div>
</body>
</html>
